/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #fff;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

s /* this rule styles <h1> and <h2> tags that are the  first child of the left and right table columns */ .rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
    background-color: #0c2404;
    position: relative;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: 100%;
    height: 95px;
}

.subheader
{
    background: #fff;
    height: 27px;
}

.subheaderRight
{
    float: right;
    line-height: 26px;
    padding-right: 5px;
    position: absolute;
    right: 15px;
    top: 125px;
    color: white;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 0px 40px;

}

    div.menu ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        div.menu ul li a, div.menu ul li a:visited
        {
            background-color: #465c71;
            border: 1px #4e667d solid;
            color: #dde4ec;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

            div.menu ul li a:hover
            {
                background-color: #bfcbd6;
                color: #465c71;
                text-decoration: none;
            }


            div.menu ul li a:active
            {
                background-color: #465c71;
                color: #cfdbe6;
                text-decoration: none;
            }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p
    {
        margin: 0px 0px 0px 0px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label
    {
        display: block;
    }

    fieldset label.inline
    {
        display: inline;
    }

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 250px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 250px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 30%;
    color: white;
    text-align: left;
    padding-top: 0px;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    height: 95px;
    padding-left: 15px;
    line-height: 95px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 0px;
    color: White;
    line-height: 95px;
    padding-right: 15px;
}

    .loginDisplay a:link
    {
        color: white;
    }

    .loginDisplay a:visited
    {
        color: white;
    }

    .loginDisplay a:hover
    {
        color: white;
    }

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


.LeftMenu
{
    width: 170px;
    background-color: white;
    background-image: url(../../images/bg1.png);
    background-repeat: repeat-y;
    padding-top: 35px;
}

.pageHeader
{
    background-color: #6D6C6E;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    line-height: 30px;
    border-bottom: #c4c4c4 3px solid;
    text-align: center;
    clear:both

}
.subheaderRight a {
    color:white;
    text-decoration:none
}

h3
{
    color: white;
    font-size: 12px;
}

.topBorder
{
    border-top: black 1px solid;
}

.grdBorder
{
    border: #808080 5px solid;
    padding: 8px;
}

.grdHeaderBg
{
    background-image: url(../../images/bg2.png);
    background-repeat: repeat-x;
    height: 30px;
    border-bottom: black 1px solid;
}

.rgtBordr
{
    border-right: black 1px solid;
}

.grdHeader
{
    background-color: white;
    font-weight: bold;
    color: black;
    padding-left: 5px;
    font-size: 14px;
}

.lftmenubg
{
    background-image: url(../../images/mnu.png);
    background-repeat: no-repeat;
    line-height: 23px;
    width: 166px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    background-position: center;
}

    .lftmenubg a
    {
        color: white;
        text-decoration: none;
    }

    .lftmenubg:hover
    {
        background-image: url(../../images/mnu1.png);
        background-repeat: no-repeat;
        line-height: 23px;
        width: 166px;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 12px;
    }

    .lftmenubg:active
    {
        background-image: url(../../images/mnu1.png);
        background-repeat: no-repeat;
        line-height: 23px;
        width: 166px;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 12px;
    }

.menuHead
{
    background-image: url(../../images/menu.png);
    background-repeat: no-repeat;SubTotal
    line-height: 23px;
    width: 166px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    background-position: center;
}

.SubTotal
{
    font-weight: bold;
    border-bottom: black 1px solid;
    background-color: #eeeeed;
}

.logincls
{
    font-size: larger;
    font-weight: bold;
    color: white;
}

.btnLogin
{
    width: 100px;
    background-image: url(../../images/bg2.png);
    background-repeat: repeat-x;
    border: none;
    cursor: pointer;
}

    .btnLogin:hover
    {
        width: 100px;
        background-image: url(../../images/bg2up.png);
        background-repeat: repeat-x;
        border: none;
        cursor: pointer;
    }

.clsOpenClaim
{
    background-image: url(../../images/mnu1.png);
    background-repeat: no-repeat;
    font-weight: bold;
    color: white;
    text-align: center;
    background-position: center;
    line-height: 30px;
}

.clsOpenClaimOL
{
    color: white;
    font-size: 11px;
    padding-left: 0px;
    margin-left: 25px;
}

.SubTotalwithoutborder
{
    font-weight: bold;
    background-color: #eeeeed;
}

.GroupCategory
{
    font-weight: bold;
    background-color: #eeeeed;
    vertical-align:top;
    text-align:left;
    color:black
}
.GrandTotal
{
    border-top:black solid thin
}
.TopBorderWithGray
{
    font-weight: bold;
    border-top: black 1px solid;
    background-color: #eeeeed;
}

.TopBorderWithoutGray
{
    font-weight: bold;
    border-top: black 1px solid;
}

.toprightBorder
{
    border-top: black 1px solid;
    border-right: black 1px solid;
}

.menuLeft
{
    background-image: url(../../images/bg1.png);
    width: 200px;
    padding-top: 20px;
}

.menu
{
    float: left;
    color: #FFFFFF;
    font-style: italic;
    font-size: 14px;
}

    .menu a.defaultmenu
    {
        width: 166px;
        line-height: 23px;
        display: inline-block;
        background-image: url(../../images/mnu_1office2003black.png);
        background-repeat: no-repeat;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .menu a:hover
    {
        width: 166px;
        line-height: 23px;
        display: inline-block;
        background-image: url(../../images/mnu_1Hover.png);
        background-repeat: no-repeat;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
        cursor: pointer;
    }

    .menu a.ActiveMenu
    {
        width: 166px;
        line-height: 23px;
        display: inline-block;
        background-image: url(../../images/mnu_1Hover.png);
        background-repeat: no-repeat;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
        cursor: pointer;
    }

    .menu a
    {
        text-decoration: none;
        color: white;
        border: none;
    }
